body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}
.topnav #myLinks {
    display: none;
    text-align: center;
}
.topnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    background: #ffffff;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.topnav a:hover {
    color: black;
}
.active {
    color: white;
    float: right;
}
#banner {
    position: relative; 
    top: 60px; 
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    text-align: left;
    background: white;
    border-radius: 7px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}
h1,h5 {
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans KR', sans-serif;
}
p {
    font-family: 'Jaldi';
}

li{
        font-family: 'Jaldi';

}
hr {
    border: none;
    height: 1px; 
    background-color: transparent;  
}

table {
    border-collapse: collapse;
    width: 100%;
}
.small-table{
    width: 50%;
}
th, td {
    border: 1px solid #000000; 
    padding: 8px; 
    text-align: center; 
}

th {
    background-color: white;
}
img{
    width: 50%;
    max-width: 50%;
}
@media (max-width: 768px)
{
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .small-table{
        width: 100%;
    }
}